// CLASSES GLOBAIS

// Global Input (Campos de texto) > Sem ícone

.mcp-input {
    width: 240px;
    height: 38px;        
    display: inline-flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: var(--bas-7);
    i {
        font-size: 24px;        
        color: var(--bas-4);
        margin-left: 10px;
    }
    input {
        width: inherit;
        height: inherit;
        position: absolute;
        top: 0; left: 0;
        border-radius: 5px;
        border: 1px solid var(--bas-4);
        background-color: transparent;
        padding-left: 10px;
        font-size: 14px;        
        &:focus {
            border-color: var(--bas-3);
        }
    }
    input::placeholder {
        color: var(--bas-4);        
        letter-spacing: 0px;        
    }
}

// Global Input (Campos de texto) > Com ícone

.mcp-input.with-icon input { 
    padding-left: 40px;
}

.mcp-input.flex {
    width: 100% !important;
}

// --------------------------------------------------


// Abaixo a lista de componentes:


// ------------------
// ----- BUTTON -----
// ------------------


// BUTTON > Cor de fundo simples

.mcp-btn {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-family: var(--unislab-500);
    padding: 11px 16px;
    border-radius: 5px;
    background-color: var(--bas-7);
    box-shadow: 0px 1px 1px rgba(0,0,0,.2);
    transition: .2s;
    cursor: pointer;
    i {
        font-size: 18px;        
    }
    &:hover {
        background-color: var(--bas-5);
    }
}

// BUTTON > Cor de fundo e ícone a esquerda

.mcp-btn.ic-left {
    padding: 11px;
    i {
        margin-right: 6px;
    }
}

// BUTTON > Cor de fundo e ícone a direita

.mcp-btn.ic-right {
    padding: 11px;
    i {
        margin-left: 6px;
    }    
}

// BUTTON > Cor de fundo e apenas ícone

.mcp-btn.ic-only {
    padding: 11px;
}

// BUTTON > Transparente simples

.mcp-btn.no-bg {
    background-color: transparent;
    box-shadow: none;
    position: relative;
    left: -16px;
    padding: 0;
    &:hover {
        color: var(--pri-1);
    }
}

// BUTTON > Transparente simples e ícone a esquerda

.mcp-btn.no-bg.ic-left {
    left: -11px;
}

// BUTTON > Transparente simples e ícone a direita

.mcp-btn.no-bg.ic-right {
    left: -11px;
}

// BUTTON > Transparente simples e apenas ícone

.mcp-btn.no-bg.ic-only {
    left: -11px;
}


// --------------------------
// ----- INPUT CHECKBOX -----
// --------------------------


// INPUT CHECKBOX > Individual

.mcp-input-checkbox {
    width: 17px;
    height: 17px;
    display: block;
    position: relative;    
    input {
        width: inherit;
        height: inherit;
        position: absolute;
        top: 0; left: 0;
        z-index: 1;
        opacity: 0;
        margin: 0;
        cursor: pointer;
    }
    input ~ span {
        width: inherit;
        height: inherit;
        display: flex;
        background-color: var(--bas-7);
        border: 1px solid var(--bas-4);
        border-radius: 3px;
        i {
            font-size: 15px;
            display: none;
        }
    }
    input:checked ~ span {
        width: inherit;
        height: inherit;
        display: block;
        border-color: var(--bas-3);
        i {
            display: block;
        }
    }
}

// Lista (Global)

.mcp-input-checkbox-list {
    list-style: none;
    padding-left: 0;
    li {        
        display: flex;
        gap: 5px;        
    }
    label {        
        cursor: pointer;
        font-family: var(--unislab-500);
        color: var(--bas-2);
    }
}

// INPUT CHECKBOX > Em bloco

.mcp-input-checkbox-list.block { 
    li {
        margin: 4px 0;
    }
    label {
        margin-left: 4px;
    }
}

// INPUT CHECKBOX > Em linha

.mcp-input-checkbox-list.inline {
    display: flex;
    li {
        margin-right: 12px;
    }
    label {
        margin-left: 4px;
    }    
}


// -----------------------
// ----- INPUT COLOR -----
// -----------------------


// INPUT COLOR > Padrão

.mcp-input.color {
    width: 75px;
    position: relative;    
    input {
        width: inherit;
        height: inherit;
        opacity: 0;
        position: absolute;
        top: 0; left: 0;
        z-index: 1;
    }
    input:focus ~ .field {
        border-color: var(--bas-3);
    }
    .field {
        width: inherit;
        height: inherit;        
        position: absolute;
        top: 0; left: 0;        
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
        border: 1px solid var(--bas-4);
        .bg {
            width: 24px;
            height: 24px;
            display: block;
            border-radius: 50%;
            background-color: var(--bas-1);
        }
    }
}


// -----------------------
// ----- INPUT DATE- -----
// -----------------------


// INPUT DATE > Padrão

.mcp-input.date {
    width: 140px;
    input {
        z-index: 1;        
    }
    i {
        color: var(--bas-1);
        position: absolute;
        right: 6px;        
    }
    input[type="date"]::-webkit-inner-spin-button {
        display: none;
    }
    input[type="date"]::-moz-inner-spin-button {
        display: none;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {        
        position: absolute;
        right: 10px;
        opacity: 0;
        cursor: pointer;
    }
    input[type="date"]::-moz-calendar-picker-indicator {        
        position: absolute;
        right: 10px;
        opacity: 0;
        cursor: pointer;
    }
}


// ---------------------------
// ----- INPUT DATETIME ------
// ---------------------------


// INPUT DATETIME > Padrão

.mcp-input.datetime {
    width: 180px;
    input {
        z-index: 1;
    }
    i {
        color: var(--bas-1);
        position: absolute;
        right: 6px;        
    }
    input[type="datetime-local"]::-webkit-inner-spin-button {
        display: none;
    }
    input[type="datetime-local"]::-moz-inner-spin-button {
        display: none;
    }
    input[type="datetime-local"]::-webkit-calendar-picker-indicator {        
        position: absolute;
        right: 10px;
        opacity: 0;
        cursor: pointer;
    }
    input[type="datetime-local"]::-moz-calendar-picker-indicator {        
        position: absolute;
        right: 10px;
        opacity: 0;
        cursor: pointer;
    }
}


// ------------------------
// ----- INPUT EMAIL ------
// ------------------------


    // Sem código...


// -----------------------
// ----- INPUT FILE ------
// -----------------------


// INPUT FILE > Padrão

.mcp-input-file {    
    height: 40px; 
    display: inline-flex;           
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--bas-7);
    box-shadow: 0px 1px 1px rgba(0,0,0,.2);
    transition: .2s;
    position: relative;    
    input[type="file"] {        
        height: inherit;
        position: absolute;
        left: -125px; right: 0px;
        z-index: 1;
        opacity: 0;
        cursor: pointer;        
    }    
    .btn-file {
        display: flex;
        align-items: center;
        padding: 11px;        
        font-size: 14px;
        font-family: var(--unislab-500);
        i {
            font-size: 24px;
            margin-right: 6px;
        }
    }
    &:hover {
        background-color: var(--bas-5);
    }
}


// -----------------------
// ----- INPUT MONTH -----
// -----------------------


// INPUT MONTH > Padrão

.mcp-input.month {
    width: 170px;
    input {
        z-index: 1;
    }
    i {
        color: var(--bas-1);
        position: absolute;
        right: 6px;        
    }
    input[type="month"]::-webkit-inner-spin-button {
        display: none;
    }
    input[type="month"]::-moz-inner-spin-button {
        display: none;
    }
    input[type="month"]::-webkit-calendar-picker-indicator {        
        position: absolute;
        right: 10px;
        opacity: 0;
        cursor: pointer;
    }
    input[type="month"]::-moz-calendar-picker-indicator {        
        position: absolute;
        right: 10px;
        opacity: 0;
        cursor: pointer;
    }
}


// ------------------------
// ----- INPUT NUMBER -----
// ------------------------


// INPUT NUMBER > Padrão

.mcp-input.number {
    width: 70px;
    input {
        z-index: 1;
    } 
    .btn-up > i {
        position: absolute;
        top: 7px; right: 6px;        
        font-size: 13px;        
        color: var(--bas-1);
    }
    .btn-down > i {
        position: absolute;
        bottom: 7px; right: 6px;        
        font-size: 13px;        
        color: var(--bas-1);
    }
    input[type="number"]::-webkit-inner-spin-button {
        opacity: 0;
        cursor: pointer;
    }
    input[type="number"]::-moz-inner-spin-button {
        opacity: 0;
        cursor: pointer;

    }
    input[type="number"]::-webkit-calendar-picker-indicator {        
        position: absolute;
        right: 10px;
        opacity: 0;
        cursor: pointer;
    }
    input[type="number"]::-moz-calendar-picker-indicator {        
        position: absolute;
        right: 10px;
        opacity: 0;
        cursor: pointer;        
    }
}


// --------------------------
// ----- INPUT PASSWORD -----
// --------------------------


// INPUT PASSWORD > Padrão

.mcp-input.pass {
    input {
        letter-spacing: 4px;        
    }
    input::placeholder {
        font-size: 14px;
    }
}


// -----------------------
// ----- INPUT RADIO -----
// -----------------------


// INPUT RADIO > Padrão

.mcp-input-radio {
    width: 17px;
    height: 17px;
    display: block;
    position: relative;    
    input {
        width: inherit;
        height: inherit;
        position: absolute;
        top: 0; left: 0;
        z-index: 1;
        opacity: 0;
        margin: 0;
        cursor: pointer;
    }
    input ~ span {
        width: inherit;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bas-7);
        border: 1px solid var(--bas-4);
        border-radius: 50px;        
    }
    input:checked ~ span {
        width: inherit;
        height: inherit;        
        border-color: var(--bas-3);
        display: flex;        
    }
    input:checked ~ span:after {
        content: "";
        justify-content: center;
        align-items: center;
        width: 7px;
        height: 7px;
        background-color: var(--bas-1);
        display: block;        
        border-radius: 50%;
    }
}

// Lista (Global)

.mcp-input-radio-list {
    list-style: none;
    padding-left: 0;
    li {        
        display: flex;
        gap: 5px;
    }
    label {        
        cursor: pointer;
        font-family: var(--unislab-500);
        color: var(--bas-2);
    }
}

// INPUT RADIO > Em bloco

.mcp-input-radio-list.block { 
    li {
        margin: 4px 0;
    }
    label {
        margin-left: 4px;
    }
}

// INPUT RADIO > Em linha

.mcp-input-radio-list.inline {
    display: flex;
    li {
        margin-right: 12px;
    }
    label {
        margin-left: 4px;
    }    
}


// ------------------------
// ----- INPUT SEARCH -----
// ------------------------

    // Sem código


// ---------------------
// ----- INPUT TEL -----
// ---------------------

    // Sem código


// ----------------------
// ----- INPUT TEXT -----
// ----------------------

    // Sem código


// ----------------------
// ----- INPUT TIME -----
// ----------------------


// INPUT TIME > Padrão

.mcp-input.time {
    width: 90px;
    input {
        z-index: 1;
    }
    i {
        color: var(--bas-1);
        position: absolute;
        right: 6px;        
    }
    input[type="time"]::-webkit-inner-spin-button {
        display: none;
    }
    input[type="time"]::-moz-inner-spin-button {
        display: none;
    }
    input[type="time"]::-webkit-calendar-picker-indicator {        
        position: absolute;
        right: 10px;
        opacity: 0;
        cursor: pointer;
    }
    input[type="time"]::-moz-calendar-picker-indicator {        
        position: absolute;
        right: 10px;
        opacity: 0;
        cursor: pointer;
    }
}


// ---------------------
// ----- INPUT URL -----
// ---------------------

    // Sem código


// ----------------------
// ----- INPUT WEEK -----
// ----------------------


// INPUT WEEK > Padrão

.mcp-input.week {
    width: 170px;
    input {
        z-index: 1;
    }
    i {
        color: var(--bas-1);
        position: absolute;
        right: 6px;        
    }
    input[type="week"]::-webkit-inner-spin-button {
        display: none;
    }
    input[type="week"]::-moz-inner-spin-button {
        display: none;
    }
    input[type="week"]::-webkit-calendar-picker-indicator {        
        position: absolute;
        right: 10px;
        opacity: 0;
        cursor: pointer;
    }
    input[type="week"]::-moz-calendar-picker-indicator {        
        position: absolute;
        right: 10px;
        opacity: 0;
        cursor: pointer;
    }
}


// ----------------
// ----- LINK -----
// ----------------


// LINK > Cor de fundo simples

.mcp-link {
    display: inline-flex;
    text-decoration: none;
    font-family: var(--unislab-500);
    font-size: 14px;
    padding: 11px 16px;
    border-radius: 5px;
    background-color: var(--bas-7);
    color: var(--bas-1);
    box-shadow: 0px 1px 1px rgba(0,0,0,.2);
    transition: .2s;
    cursor: pointer;
    i {
        font-size: 18px;
    }
    &:hover {
        background-color: var(--bas-5);
    }
}

// LINK > Cor de fundo e ícone a esquerda

.mcp-link.ic-left {
    padding: 11px;
    i {
        margin-right: 6px;
    }   
}

// LINK > Cor de fundo e ícone a direita

.mcp-link.ic-right {
    padding: 11px;
    i {
        margin-left: 6px;
    }
}

// LINK > Cor de fundo e apenas ícone

.mcp-link.ic-only {
    padding: 11px;
}

// LINK > Transparente simples

.mcp-link.no-bg {
    background-color: transparent;
    box-shadow: none;
    position: relative;
    left: -16px;
    padding: 0;
    &:hover {
        color: var(--pri-1);
    }
}

// LINK > Transparente simples e ícone a esquerda

.mcp-link.no-bg.ic-left {
    left: -11px;
}

// LINK > Transparente simples e ícone a direita

.mcp-link.no-bg.ic-right {
    left: -11px;
}

// LINK > Transparente simples e apenas ícone

.mcp-link.no-bg.ic-only {
    left: -11px;
}


// -------------------
// ----- MESSAGE -----
// -------------------


// MESSAGE > Padrão

.mcp-message {
    width: 100%;    
    padding: 10px 15px;
    background-color: var(--bas-1);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    cursor: default;    
    color: #fff;
    font-family: var(--unislab-500);
    font-size: 14px;
    .icon {
        display: flex;
        align-items: center;
        i {
            font-size: 23px;
        }
    }
    .message {
        flex-grow: 1;
        padding: 0 10px;        
        text-align: left;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        font-size: 14px;
    }
    .close {
        cursor: pointer;
        display: flex;
        align-items: center;
    }  
}

// MESSAGE > Aviso

.mcp-message.warning {
    background-color: var(--apo-4);
    color: #A78225;
}

// MESSAGE > Sucesso

.mcp-message.success {
    background-color: var(--apo-5);
    color: #6F954B;
}

// MESSAGE > Erro

.mcp-message.error {
    background-color: var(--apo-2);
    color: #A36C6C;
}

// MESSAGE > Informação

.mcp-message.info {
    background-color: var(--apo-6);
    color: #3E888E;
}


// ------------------
// ----- SELECT -----
// ------------------


// SELECT > Padrão

.mcp-select {
    width: 240px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: var(--bas-7);
    select {
        width: inherit;
        height: inherit;
        position: absolute;
        top: 0; left: 0;
        font-size: 14px;
        border: 1px solid var(--bas-4);
        background-color: transparent;
        padding-left: 10px;
        opacity: 0;        
    }
    select:focus ~ .field {
        border-color: var(--bas-3);
    }
    .field {
        width: inherit;
        height: inherit;
        border: 1px solid var(--bas-4);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        .value {
            font-size: 14px;
            font-family: var(--unislab-500);
            color: var(--bas-4);
        }
        i {
            font-size: 18px;
        }
    }    
    .field.selected .value {
        color: var(--bas-1);
    }
}

.mcp-select.flex {
    width: 100% !important;
}


// -------------------
// ----- SPINNER -----
// -------------------


// SPINNER > Padrão

.mcp-spinner {
    width: 18px;
    height: 18px;    
    display: inline-block;
    border-radius: 100%;
    border-top: 2px solid var(--bas-3);
    border-left: 2px solid var(--bas-3);
    border-bottom: 2px solid var(--bas-4);
    border-right: 2px solid var(--bas-4);    
    animation: rotation .7s infinite linear;
}

@keyframes rotation {from {transform: rotate(0deg);} to {transform: rotate(360deg)}}


// -----------------
// ----- TABLE -----
// -----------------

.mcp-table {
    text-align: left;
    border: 1px solid var(--bas-5);
    border-radius: 5px;
    border-spacing: 0px;
    overflow: hidden;    

    tr {        
        td {
            border: none;            
            font-family: var(--unislab-500);            
        }
    }   

    thead td,
    tfoot td {
        background-color: var(--bas-6);
        font-size: 14px;
        padding: 16px 20px;
    }

    thead td,
    tbody td {
        border-bottom: 1px solid var(--bas-5);
    }

    tbody td {        
        font-weight: bold;
        font-size: 13px;
        font-family: var(--unislab-300);
        background-color: var(--bas-7);
        padding: 20px;
    }
}

.mcp-table.flex {
    width: 100%;
}


// --------------------
// ----- TEXTAREA -----
// --------------------


// TEXTAREA > Padrão

.mcp-textarea {
    width: 240px;
    height: 100px;   
    background-color: var(--bas-7);        
    border: 1px solid var(--bas-4);
    border-radius: 5px;
    padding: 10px;
    resize: none;
    font-size: 14px;
    &:focus {
        border-color: var(--bas-3);
    }
}

.mcp-textarea::placeholder {
    color: var(--bas-4);
}

.mcp-textarea.flex {
    width: 100% !important;
}

// ------------------
// ----- TOGGLE -----
// ------------------


// TOGGLE > Padrão

.mcp-toggle {
    width: 40px;
    height: 20px;
    display: inline-flex;    
    position: relative;
    input {
        width: inherit;
        height: inherit;
        margin: 0;
        position: absolute;
        top: 0; left: 0;
        z-index: 1;
        opacity: 0;
        cursor: pointer;        
        ~ span {
            width: inherit;
            height: inherit;
            display: flex;
            position: absolute;
            top: 0; left: 0;
            background-color: var(--bas-4);
            border-radius: 50px;
            &::after {
                content: "";
                width: 16px;
                height: 16px;
                display: block;
                position: absolute;
                top: 2px; left: 2px;
                background-color: var(--bas-7);
                border-radius: 50px;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
                transition: 0.2s;
            }
        }
        // cor de fundo check habilitado
        &:checked ~ span {
            background-color: var(--pri-1);
        }
        // cor do disco
        &:checked ~ span::after {
            left: 22px;            
        }
    }
}